@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,700;1,800;1,900&display=swap');

// colors
$orange: #fa824c;
$yellow: #eac435;
$blue: #507dbc;
$red: #da402f;
$green: #63a46c;
$pink: #d63384;
$teal: #20c997;
$cyan: #1282a2;
$light-gray: #e7edef;

// White and Gray
$white: #fff;
$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #6c757d;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #212529;
$black: #000;

// Theme Colors
$primary: $orange;
$secondary: $blue;
$success: $green;
$info: $cyan;
$warning: $yellow;
$danger: $red;
$light: $gray-100;
$dark: #342e37;

$font-family-sans-serif: 'Karla', sans-serif;
$border-radius: 1rem;

$table-striped-bg: rgba($primary, 0.2);

$box-shadow: 0.5rem 0.5rem 1rem rgba($black, 0.15) !default;
@import '~bootstrap/scss/bootstrap';

body {
  background-color: $light-gray;
  min-height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Rubik', sans-serif;
}

.input-group-text {
  border-radius: 1rem 0 0 1rem;
}

.form-group {
  margin-bottom: 1rem;
}

.category-pill:hover {
  cursor: pointer;
  background-color: $primary;
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 300px;
}
